* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p {
  height: 200px;
  font-size: 50px;
  color: #77787c;
}
a {
  text-decoration: none;
  border: 2px solid;
  background-color: #dcdddf;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
}
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.row:before, .row:after{
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  padding: 1%;
  border: 2px solid #77787c;
  height: 640px;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333337%;
}

.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.666666%;
}
.col-12 {
  width: 100%;
}

.cajas-1 {
  background-color: #77787c;
  padding: 1%;
  height: 180px;
}
.cajas-2 {
  background-color: #dcdddf;
  padding: 1%;
  height: 180px;
}
.cajas-3 {
  background-color: #77787c;
  padding: 1%;
  height: 380px;
}

.cajas-4 {
  background-color: #dcdddf;
  padding: 1%;
  height: 380px;
}


.float-rigth {
  float: right;
}

.bottom {
  top: 210px;
  position: relative;
}
.top {
  position: relative;
  top: 205px;
}
